@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Lato:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  font-family: 'Lato', serif;
  background: linear-gradient(#c9dae2, #a9b2c1);
  color: #0e141e;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.animate-div {
  text-align: center;
}

h1 {
  font-size: 8rem;
}



